@import url(https://fonts.google.com/specimen/Nuosu+SIL#standard-styles);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --green-black: #2a403d;
    --background-color: #0B0C10;
    --background-light: #1F2833;
    --close-white: #e3e0cf;
    --like-white: #dddfd4;
    --nice-white: #f7f4ef;
    --new-green: #1dccb5;
    --animation-duration: 800ms;
    --animation-delay: 0.9s
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background-light);
}
.logo {
  width: 160px;
  margin-top: 17px;
  cursor: pointer;
}
nav, nav ul{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}
nav ul{
    align-content: center;
    height: 40px;
    padding-right: 10px;
    border-radius: 10%;
    color: var(--nice-white);
}
nav ul a:hover{
    color: #1dccb5;
}
nav{
  padding: 20px;
  text-transform: capitalize;
}
nav li{
  text-transform: capitalize;
  color: var(--nice-white);
  font-size: 20px;
  margin-right: 70%;
}
nav ul a{
  display: flex;
  margin-left: 20px;
  text-decoration: none;
  color: var(--nice-white);
  font-size: 15px;
}
.active{
    color: var(--nice-white);
}
#about{
    display: flex;
}
#header1{
    display: flex;
}
#name{
    font-size: 20pt;
    font-family: roboto;
    margin-top: 10%; 
  color: var(--nice-white);
}
#mini-about{
    font-size: 15pt;
    color: #19bd58b0 !important;
}
#img{
    margin-top: 5%;
    overflow: hidden;
    margin-left: 250%;
    margin-bottom: 30%;
    width: 200px;
    height: 200px;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px;
}
.wrap {
    margin-top: -10%;
    margin-left: -300%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
#about{
    display: flex;
    margin: 2%;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}
#first-box{
    background-color: #2a403db9;
    margin-right: 2%;
    list-style: none;
    text-decoration: none;
    color: var(--nice-white);
}
#box2{
    background-color: #2a403db9;
    margin-right: 2%;
    list-style: none;
    text-decoration: none;
    color: var(--nice-white); 
    padding-right: 12%;
}
#box3{
    background-color: #2a403db9;
    padding-right: 12%;
    list-style: none;
    text-decoration: none;
    color: var(--nice-white);
}
#hashtag{
    color: #00ff95;
    margin-left: 10pt;
}

#list1{
    margin-left: 12%;
}
#list2{
    margin-left: 12%;
    width: 100%;
    padding: 20%;
}
#list3{
    margin-left: 12%;
    width: 100%;
    padding: 20%;
}
footer{
    display: flex;
}
#gradient{
    color: var(--nice-white);
    font-size: 20pt;
}
#social{
    flex-direction: row;
    justify-self: left;
    margin-left: 50px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    color: var(--nice-white);
}
#social:hover{
    color: var(--new-green);
}
#social1{
    flex-direction: row;
    justify-self: left;
    margin-left: 50px;
    margin-top: 2px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: var(--nice-white);
}
#message,
#fill{
    background-color: #2a333fbb;
    border-bottom: 1px solid black;
    padding: 2%;
    border-left: 1px solid #1F2833;
    color: var(--nice-white);
    margin-left: 300%;
}
#reg{
    color: var(--nice-white);
}
#reg-img{
    margin-top: 20%;
    margin-left: -25%;
}
#register{
    display: flex;
}
#form{
    margin-left: 0%;
    margin-top: 5%;
    justify-content: space-between;
}
form, label ,input,select{
    margin-bottom: 5%;
    min-width: 40%;
    font-family: Nuosu SIL;
    height: 30pt;
}
#list{
    margin-top: 5%;
    margin-right: 5px;
    color: var(--nice-white);
    margin-bottom: 45%;
}
button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-left:20%;
    }
    #reg-foot{
        color: var(--nice-white);
        margin-top: -55%;
    }
   
    #forms{
        margin-top: 50%;
        margin-left: 100%;
        display: flex;
    }
    #href{
        color: #00FFCB;
    }
    #login{
        display: flex;
        font-family: 'Courier New', Courier, monospace;
    }
    #forgot{
        color: #e6262693;
    }
    #fill3{
        width: 150pt;
        color: var(--new-green);
        background-color: var(--background-light);
        border-bottom: 1px black soild;
    }
     #typed{
       color: var(--nice-white);
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange; /* The typewriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em;
 /* Adjust as needed */
      animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: rgb(97, 86, 65); }
    }
